@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}
html, body { height: 100%; }
body {
    background: #fffafa;
    font-family: 'Roboto', sans-serif;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}
.prof {
    height: 430px;
    border-radius: 50%;
}
h1 {
    margin: 20px;
    font-size: 45px;
}
.pronunciation {
    font-size: 25px;
}
#pronounce {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #039be5;
}
a:hover {
    text-decoration: underline;
    color: deeppink;
}
p {
    font-size: 20px;
    margin-top: 10px;
}
em { color: grey; }

.social {
    list-style: none;
    margin-top: 60px;
}
.social li {
    margin: 15px;
    display: inline-block;
}
.social a {
    color: black;
}
.social i {
    transition: color .3s ease-in-out;
}
.social li:nth-child(1) a:hover i { color: #3B5998; }
.social li:nth-child(2) a:hover i { color: #4099FF; }
.social li:nth-child(3) a:hover i { color: #007bb6; }
.social li:nth-child(4) a:hover i { color: #6cc644; }
.social li:nth-child(5) a:hover i { color:  orange; }
